body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.container {
  text-align: center;
  margin-top: 50px;
}

nav {
  margin: 30px 0;
}

nav a {
  margin: 0 15px;
  text-decoration: none;
  color: blue;
  font-weight: bold;
}